.List {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  margin-top: 29px;
}

.CardMovie {
  text-align: center;
}

.ImgCard {
  width: 176px;
  height: 264px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
}

.CardMovie:hover {
  transform: scale(1.08);
  opacity: 1;
}

.TextCard1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: black;
}

.TextCard2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #646464;
}
